.card_container {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;

  background-color: #F9F4F6;
  
  text-align: center;

  h3 {
    margin-bottom: 0.5rem;
  }

  p {
    color: #161320;

    font-size: 0.85rem;
  }
}

@media (width >= 640px) {
  .card_container {
    width: 100%;
    margin: 0;
    padding: 1rem;
    max-width: 225px;
    min-height: 150px;
  
    background-color: #F9F4F6;
    
    text-align: center;
  
    h3 {
      margin-bottom: 0.5rem;
    }
  
    p {
      color: #161320;

      text-align: justify;
    }
  }
}
