@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- GENERAL STYLES ----------
Colors:
  black -> #161320
  white -> #F9F4F6
  red -> #D14836

Fonts: 
  Headers: Berkshire Swash, 400
  Body: Rubik, [400, 600, 700]
*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #161320;
  font-family: 'Rubik', sans-serif;
}

h1, p, li {
  color: #F9F4F6;
}

h1 {
  font-family: 'Berkshire Swash', serif;
}