<main>
  <section class='front_container flex flex--col justify-center items-end'>
      <div class="cards flex flex-col sm:flex-row justify-center gap-4">
        @for (card of cardsData; track $index) {
          <app-card [card]='card' />
        }
      </div>
  </section>
  <section class='shelter_container flex flex-col justify-center items-center'>
    <h2>Shelters</h2>
    <app-shelter-carousel />
  </section>
  <section class='honor_container flex justify-center items-center'>
    <div class="cards flex justify-center relative">
      <div class='honor-text'>
        <h2>Honor Code</h2>
        <p>Check our traveler honor code. We may be wild and stuff, but we are not chaos marauders, there's honor in our way.</p>
        <button [routerLink]="['/honor-code']">Check it</button>
      </div>
    </div>
</section>

</main>
