footer {
  padding: 2rem;

  h3 {
    color: #F9F4F6;
    font-family: 'Rubik', sans-serif;
  }
}

.navigation li:active,
.social-media li:active {
  color: #D14836;
}

footer>div>div {
  text-align: left;
}

@media (width >= 640px) {
  .footer-container {
    width: 80%;
    margin: 0 auto;
  }
}

@media (width >= 800px) {
  .navigation,
  .social-media {
    padding-left: 2rem;
  }
}

/* ---------- Icons ----------- */
.contact-icon {
  transform: scale(0.9);
}

/* ---------- Copyright ----------- */
.copyright-container {
  margin-top: 3rem;
}