/* ---------- Nav Container ----------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 2rem 3rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* ---------- Header ----------*/
h1 {
  font-size: 2rem;
}

/* ---------- Navigation Links ----------*/
li:hover {
  color: #D14836;
}