/* ---------- Nav Container ----------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  max-width: 1800px;
  padding: 2rem 1.5rem;
  margin: auto;

  background-color: #161320;

  .menu-icon {
    color: #F9F4F6;
  }
}

nav ul {
  display: none;
}

@media (width >= 640px) {
  .menu-icon {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

/* ---------- Header ----------*/
h1 {
  font-size: 2rem;
}

/* ---------- Navigation Links ----------*/
li:hover {
  color: #D14836;
}