<nav>
  <h1><a [routerLink]="['']">Backroads</a></h1>
  <app-menu class='menu-icon' (click)='onClickMenu()' />
  <ul>
    <li><a [routerLink]="['/map']">Map</a></li>
    <li><a [routerLink]="['/honor-code']">Honor Code</a></li>
    <li><a [routerLink]="['/faq']">FAQ</a></li>
    @if (user$ | async) {
      <li><a [routerLink]="['/profile']">Profile</a></li>
    } @else {
      <li><a [routerLink]="['/login']">Login</a></li>
    }
    <li>{{user$ | async}}</li>
  </ul>
  @if (showMenu) {
    <app-drawer
      [showMenu]='showMenu'
      (showMenuChange)="showMenu = $event" [showMenu]="showMenu"
    />
  }
</nav>
?.pipe